/* Google Fonts: Poppins */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body {
    font-family: 'Poppins', sans-serif;
}

.package-section {
    color: #231D4F;
}

.btn-backgrund-color {
    background-color: #fae2f0b7;
    font-weight: 600;
    border-radius: 24px;
}

.bg-card-color {
    background-color: #3F87F5;
    border-radius: 26px;
    color: white;
}

.choose-plan-btn {
    background-color: white;
    border-radius: 24px;
    font-weight: 600;
}